---
import assets from '../../assets.json';
const cat = assets["lion_guard"];
---
<html lang="en">
  <head>
    <title>lion_guard</title>
  </head>
  <body>
    <h1>lion_guard</h1>
    <div>
      
        <div>
          <a href="/lion_guard/kayon_hippo_bird">
            <img src="/assets/lion_guard/kayon_hippo_bird.svg" alt="kayon_hippo_bird" style="max-width:180px;max-height:180px;" />
            <div>kayon_hippo_bird</div>
          </a>
        </div>
        
    </div>
  </body>
</html>
