---
const image = {
  key: "kayon_hippo_bird",
  file: "assets/lion_guard/kayon_hippo_bird.svg",
  category: "lion_guard"
};
---
<html lang="en">
  <head>
    <title>Kayon Hippo Bird</title>
  </head>
  <body>
    <h1>Kayon Hippo Bird</h1>
    <img src="/assets/lion_guard/kayon_hippo_bird.svg" alt="kayon_hippo_bird" style="max-width:400px;max-height:400px;" />
    <div>
      <a href="/lion_guard">Back to lion_guard</a>
    </div>
  </body>
</html>
