---
import "../styles.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import assets from "../assets.json";
import Head from "../components/Head.astro";
import Sidebar from "../components/Sidebar.astro";

// Helper to get a random item from an array
function getRandomItem(arr) {
  return arr[Math.floor(Math.random() * arr.length)];
}
---

<html lang="en">
  <Head title="Wszystkie obrazki" />
  <body class="text-default bg-base-200 flex flex-col min-h-screen">
    <Navbar />
    <div class="flex flex-1 w-full flex-col md:flex-row">
      <Sidebar />
      <main class="flex-1 flex flex-col pt-0 bg-base-200 min-h-0">
        <div class="flex justify-center mb-0 w-full h-56 max-h-56">
          <img
            src="/assets/main-index-header.png"
            alt="Zamaluj.pl header"
            class="w-full h-full object-cover"
            style="aspect-ratio: 5/1;"
          />
        </div>
        <div class="container mx-auto px-4 flex-1 flex flex-col bg-base-200">
          <div class="flex flex-wrap justify-center gap-6 bg-base-200 w-full">
            {
              Object.entries(assets).map(([objectKey, cat]) => {
                const randomItem = getRandomItem(cat.items);
                const catTitle = cat.title_key;
                return (
                  <a
                    href={`/${objectKey}/`}
                    class="card w-60 bg-white border border-gray-200 shadow-xl transition-transform hover:scale-105 mb-12 block hover:no-underline"
                  >
                    <figure class="px-4 pt-4">
                      <img
                        src={`/${randomItem.file}`}
                        alt={randomItem.key}
                        class="max-w-[180px] max-h-[180px] object-contain rounded"
                      />
                    </figure>
                    <div class="card-body items-center text-center p-4">
                      <div class="card-actions">
                        <span class="btn btn-outline btn-primary btn-sm mt-2">
                          {catTitle}
                        </span>
                      </div>
                    </div>
                  </a>
                );
              })
            }
          </div>
        </div>
      </main>
    </div>
    <Footer />
  </body>
</html>
