---
import "../styles.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import assets from "../assets.json";
import Head from "../components/Head.astro";
import Sidebar from "../components/Sidebar.astro";
import IndexTemplate from "../templates/IndexTemplate.astro";

function getRandomItem(arr) {
  return arr[Math.floor(Math.random() * arr.length)];
}

const items = Object.entries(assets).map(([objectKey, cat]) => {
  const randomItem = getRandomItem(cat.items);
  return {
    href: `/${objectKey}/`,
    imgSrc: `/${randomItem.file}`,
    imgAlt: randomItem.key,
    title: cat.title_key,
    buttonText: cat.title_key,
  };
});
---

<html lang="en">
  <Head title="Wszystkie obrazki" />
  <body class="font-sans text-[#5e5e5e] flex flex-col min-h-screen">
    <Navbar />
    <div class="flex flex-col md:flex-row flex-1 w-full min-h-0">
      <Sidebar />
      <main class="flex-1 flex flex-col pt-0 bg-bsse-200 min-h-0">
        <IndexTemplate
          items={items}
          headerImgSrc="/assets/main-index-header.png"
          headerImgAlt="Zamaluj.pl header"
        />
      </main>
    </div>
    <Footer />
  </body>
</html>
