---
import "../styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <div class="flex flex-col items-center mt-8">
      <button class="btn btn-primary">DaisyUI Primary Button</button>
      <button class="btn btn-secondary mt-2">DaisyUI Secondary Button</button>
      <button class="btn btn-accent mt-2">DaisyUI Accent Button</button>
    </div>
  </body>
</html>
