---
import assets from '../../assets.json';
const cat = assets["lego"];
---
<html lang="en">
  <head>
    <title>lego</title>
  </head>
  <body>
    <h1>lego</h1>
    <div>
      
        <div>
          <a href="/lego/pythor">
            <img src="/assets/lego/pythor.svg" alt="pythor" style="max-width:180px;max-height:180px;" />
            <div>pythor</div>
          </a>
        </div>
        

        <div>
          <a href="/lego/scales">
            <img src="/assets/lego/scales.svg" alt="scales" style="max-width:180px;max-height:180px;" />
            <div>scales</div>
          </a>
        </div>
        
    </div>
  </body>
</html>
