---
const image = {
  key: "pythor",
  file: "assets/lego/pythor.svg",
  category: "lego"
};
---
<html lang="en">
  <head>
    <title>Pythor</title>
  </head>
  <body>
    <h1>Pythor</h1>
    <img src="/assets/lego/pythor.svg" alt="pythor" style="max-width:400px;max-height:400px;" />
    <div>
      <a href="/lego">Back to lego</a>
    </div>
  </body>
</html>
