---
const image = {
  key: "scales",
  file: "assets/lego/scales.svg",
  category: "lego"
};
---
<html lang="en">
  <head>
    <title>Scales</title>
  </head>
  <body>
    <h1>Scales</h1>
    <img src="/assets/lego/scales.svg" alt="scales" style="max-width:400px;max-height:400px;" />
    <div>
      <a href="/lego">Back to lego</a>
    </div>
  </body>
</html>
