---
const { title } = Astro.props;
---

<head>
  <meta name="google-adsense-account" content="ca-pub-6966466136420493" />
  <link rel="canonical" href={Astro.url.href} />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <title>Zamaluj.pl - {title}</title>
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/logo-32x32.png"
  />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta
    name="description"
    content="Pobierz darmowe kolorowanki do druku (PDF) dla dzieci. Setki wzorów: Zwierzęta, Bajki, Auta, Jednorożce. Gotowe do wydruku na A4. Bez opłat i logowania."
  />
  <script src="../js/protection.js"></script>
  <script src="../js/analytics.js"></script>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6966466136420493"
    crossorigin="anonymous"></script>
</head>
