---
const { title } = Astro.props;
---

<head>
  <title>Zamaluj.pl - {title}</title>
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/logo-32x32.png"
  />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <script src="/js/protection.js" is:inline></script>
  <!-- Add any other shared <head> content here -->
</head>
