---
const { title } = Astro.props;
---

<head>
  <title>Zamaluj.pl - {title}</title>
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/logo-32x32.png"
  />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta
    name="description"
    content="Explore a fun collection of printable coloring books for kids at Zamaluj.pl. Spark creativity and learning with engaging designs for all ages!"
  />

  <script src="../js/protection.js"></script>
  <script src="../js/analytics.js"></script>
</head>
