---
import assets from "../assets.json";
---

<style>
  @media print {
    nav.navbar {
      display: none !important;
    }
  }
</style>
<nav class="navbar bg-base-100 shadow mb-8 px-6 py-3 flex items-center">
  <div class="navbar-start flex items-center gap-4">
    <a href="/" class="flex items-center">
      <img
        src="/assets/logo-compact.svg"
        alt="Pokoloruj Mnie Logo"
        class="h-10 mr-2"
      />
      <span class="btn btn-ghost normal-case text-xl">Zamaluj.pl</span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {
        Object.entries(assets).map(([catKey, cat]) => (
          <li>
            <a href={`/${catKey}/`}>{cat.title_key ?? catKey}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
