---
import assets from "../assets.json";
---

<style>
  @media print {
    nav.navbar {
      display: none !important;
    }
  }
  .navbar-brand {
    font-family: "Inter", sans-serif;
    color: #5e5e5e;
    font-size: 20px;
  }
</style>
<div class="drawer drawer-end md:hidden">
  <input id="drawer-toggle" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <nav
      class="navbar bg-base-200 shadow mb-0 px-0 py-4 flex items-center z-50 border-b border-gray-100 min-h-0 h-20 relative"
    >
      <div class="navbar-start flex items-center gap-1 h-full">
        <a href="/" class="flex items-center gap-1 min-h-0 h-full relative">
          <div
            class="bg-white rounded-full shadow-xl flex items-center justify-center absolute left-0 z-10 ml-6"
            style="height:112px;width:112px;bottom:0;transform:translateY(50%);"
          >
            <img
              src="/assets/logo-128x128.png"
              alt="Pokoloruj Mnie Logo"
              class="h-24 w-24 object-contain"
            />
          </div>
          <span class="navbar-brand text-logo font-bold tracking-tight ml-40"
            >Zamaluj.pl</span
          >
        </a>
      </div>
      <div class="navbar-end flex-1 flex justify-end">
        <label for="drawer-toggle" class="btn btn-square btn-ghost md:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
    </nav>
  </div>
  <div class="drawer-side z-50">
    <label for="drawer-toggle" class="drawer-overlay"></label>
    <aside class="menu p-4 w-64 min-h-full bg-base-200">
      <ul class="menu menu-vertical rounded-box">
        {
          Object.entries(assets).map(([objectKey, cat]) => (
            <li>
              <a
                href={`/${objectKey}/`}
                class="font-semibold transition-colors duration-200 hover:bg-primary hover:text-white rounded px-2 py-1"
                onclick="document.getElementById('drawer-toggle').checked = false"
              >
                {cat.title_key}
              </a>
            </li>
          ))
        }
      </ul>
    </aside>
  </div>
</div>
<nav
  class="navbar bg-base-200 shadow mb-0 px-0 py-4 items-center z-50 border-b border-gray-100 min-h-0 h-20 relative hidden md:flex"
>
  <div class="navbar-start flex items-center gap-1 h-full">
    <a href="/" class="flex items-center gap-1 min-h-0 h-full relative">
      <div
        class="bg-white rounded-full shadow-xl flex items-center justify-center absolute left-0 z-10 ml-6"
        style="height:112px;width:112px;bottom:0;transform:translateY(50%);"
      >
        <img
          src="/assets/logo-128x128.png"
          alt="Pokoloruj Mnie Logo"
          class="h-24 w-24 object-contain"
        />
      </div>
      <span class="navbar-brand text-logo font-bold tracking-tight ml-40"
        >Zamaluj.pl</span
      >
    </a>
  </div>
</nav>
