---
/* PrintFooter.astro - extracted print footer markup */
---

<div class="print-footer bg-base-200">
  <div class="print-footer-content">
    <img
      src="/assets/logo-128x128.png"
      alt="Zamaluj.pl"
      class="print-footer-logo"
    />
    <span class="print-footer-text">www.zamaluj.pl</span>
  </div>
</div>
