---
import assets from "../assets.json";
---

<aside
  class="hidden sm:block w-48 sm:w-52 md:w-60 lg:w-64 xl:w-72 bg-bsse-200 p-3 md:p-4 mt-6 md:mt-12 no-print sidebar-responsive"
  aria-label="Kategorie kolorowanek"
>
  <ul class="menu menu-vertical rounded-box">
    {
      Object.entries(assets).map(([objectKey, cat]) => (
        <li>
          <a
            href={`/${objectKey}/`}
            class="font-semibold transition-colors duration-200 hover:bg-primary hover:text-white rounded px-2 py-1"
          >
            {cat.title_key}
          </a>
        </li>
      ))
    }
  </ul>
</aside>
