---
import assets from "../assets.json";
---

<aside class="w-64 min-h-screen bg-base-200 p-4">
  <ul class="menu menu-vertical rounded-box">
    {
      Object.entries(assets).map(([catKey, cat]) => (
        <li>
          <a href={`/${catKey}/`} class="font-semibold">
            {cat.title_key ?? catKey}
          </a>
        </li>
      ))
    }
  </ul>
</aside>
