@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global print styles */
@media print {
  @page {
    margin: 0;
  }
  html,
  body {
    width: 210mm !important;
    height: 297mm !important;
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
    box-sizing: border-box !important;
    page-break-after: avoid;
    page-break-before: avoid;
    page-break-inside: avoid;
    margin-bottom: 0 !important;
  }
  .no-print {
    display: none !important;
  }
  .print-footer {
    display: block !important;
    border-top: 1px solid #eee !important;
    text-align: center;
    box-sizing: border-box !important;
    width: 100% !important;
    height: 60px !important;
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
    position: static !important;
  }
  .print-footer-content {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 4px !important;
    height: 100% !important;
  }
  .print-footer-logo {
    height: 48px !important;
    align-self: center !important;
  }
  .print-footer-text {
    color: #888 !important;
    font-size: 24px !important;
    align-self: center !important;
  }
  #main-image {
    box-shadow: none !important;
    border-radius: 0 !important;
    max-width: 190mm !important;
    max-height: 270mm !important;
    margin: 0 auto 0 auto !important;
    display: block;
    page-break-inside: avoid;
  }
}

/* Hide print-footer by default */
.print-footer {
  display: none;
}
.print-footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 100%;
}
.print-footer-logo {
  height: 48px;
  align-self: center;
}
.print-footer-text {
  color: #888;
  font-size: 24px;
  align-self: center;
}
